<h1>Edit Restaurant Details</h1>

<%= render 'form' %>

<%= link_to 'Show', @restaurant, class: "btn btn-default btn-xs"  %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-default btn-xs"  %>
